<div class="coordinates-widget mat-elevation-z4">
    <mat-form-field class="epsg-selection">
      <mat-label>Układ współrzędnych</mat-label>
      <mat-select [(ngModel)]="selectedEpsg" (ngModelChange)="convertCoordinates()">
        <mat-option value="EPSG:2178">EPSG:2178</mat-option>
        <mat-option value="EPSG:2180">EPSG:2180</mat-option>
        <mat-option value="EPSG:32433">EPSG:32433</mat-option>
        <mat-option value="EPSG:4326">EPSG:4326</mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{ convertCoordinates() }}</span>
  </div>
  