/* title.component.scss */
.app-header {
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  .app-header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
  }
  