.home-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

.app-description {
  margin: 1rem 0;
  font-size: 1.25rem;
  }
  